export(start_indel_shiny)
export(calculate.indel)
import(BiocGenerics)
import(Biostrings)
import(crayon)
import(knitr)
import(msa)
import(readr)
import(sangerseqR)
import(shiny)
importFrom("utils", "zip", unzip)
